asgiref==3.5.2
backports.zoneinfo==0.2.1
django-cors-headers==3.13.0
django-filter==22.1
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
drf-extra-fields==3.4.1
flake8==6.0.0
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
PyJWT==2.6.0
python-dotenv==0.21.0
pytz==2022.6
Pillow==9.3.0
psycopg2-binary==2.9.5
sqlparse==0.4.3
tzdata==2022.7
